<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://statics.livrariacultura.net.br/products/capas_lg/432/1407432.jpg" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">Mundo Assombrado Pelos Demonios</p>
                <p class="subtitle is-6">Carl Sagan</p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <br>

        </div>
    </div>
</div>